<html>
    <head>
        <title>Catalyst Consulting Association</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img id="weblogo" src="Assets/CCA-logo.png">    
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color:black">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
                    Towers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="operations" style="color:black">Operations</a>
                  <a class="dropdown-item" href="digitalsolutions" style="color:black">Digital Solutions</a>
                  <a class="dropdown-item" href="recruitment&development" style="color:black">Recruitment & Development</a>
                  <a class="dropdown-item" href="consultingservices" style="color:black">Consulting Services</a>
                </div>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/Services" style="color:black">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/calendar" style="color:black">Calendar</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/contact-us" style="color:black">Contact us</a>
              </li>

            </ul>
          </div>
        </nav>
