<% include ./partials/header %>
<style>

  @media only screen and (min-width: 150px) and (max-width:480px) and (orientation: portrait){
    form{
      width: 100%;
      padding-left: 8%;
      padding-right: 8%;
      margin-left: 0;
      margin-right: 0;
    }

    .btn.btn-danger {
      margin-left: 36%;
      padding: 3% 8%;

    }




  }

</style>
<div class="container">

    <form>
    <h1>Contact us for more information</h1>
    <p>Have a question about CCA or any of its towers? If so, just fill out the form and we will be in contact.</p>
      <div class="form-group">
        <label class="col-form-label" for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Phone Number (Optional)">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>

</div>

<% include ./partials/footer %>
