<% include ./partials/header %>

<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/TowersStyle.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<div class="container">

  <!-- Image and Header -->
  <div class="row">
    <!-- Image -->
    <div class="col-sm">
      <img id="towerImage" src="/Assets/Unknown.png">
    </div>
    <!-- Header -->
    <div class="col-sm">
      <h1 class="display-4" >This is<b><br>DIGITAL SOLUTIONS</b></h1>
    </div>
  </div>

  <!-- The Team -->

  <div class="row">
    <!-- Names -->
    <div class="col-sm">
      <h1>The Team</h1>
      <p class="subtitleText">Christian Rosado (Web Dev)</p>
      <p class="subtitleText">Ivan Jackson (Web Dev)</p>
      <p class="subtitleText">Marcos (Cyber Security)</p>
      <p class="subtitleText">Steven (Cyber Security)</p>
      <p class="subtitleText">Steph Brunot (Vessel)</p>
      <p class="subtitleText">Jorge Acosta (Vessel)</p>
    </div>

    <!-- Pictures -->
    <div id="picColumn" class="col-sm">
      <div class="row">
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.27 PM.jpeg">
        </div>
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.29 PM (1).jpeg">
        </div>
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.28 PM (1).jpeg">
        </div>
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.33 PM.jpeg">
        </div>
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.31 PM.jpeg">
        </div>
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.28 PM.jpeg">
        </div>
        <div class="col-sm">
          <img class="teamPicture" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.28 PM (2).jpeg">
        </div>
      </div>
    </div>

  </div>

  <!-- Description -->
  <h1> What we do?</h1>
  <h1> When it comes to your technological needs, we:</h1>

  <div class="row">
    <!-- Circle -->
    <div class="col-sm" id="circle">
      <div class="circle1"><p> Establish the vision</p></div>
    </div>
    <!-- arrow -->
    <div class="col-sm" id="circle">
      <i class="fas fa-chevron-right" style="color: white; font-size: 9rem; display: inline-block; padding-top: 80px;  margin-top: -15%"></i>
    </div>
    <!-- Circle -->
    <div class="col-sm" id="circle">
      <div class="circle1"> <p> Bring it to life</p></div>
    </div>
    <!-- arrow -->
    <div class="col-sm" id="circle">
      <i class="fas fa-chevron-right" style="color: white; font-size: 9rem; display: inline-block; padding-top: 80px; margin-top: -15%"></i>
    </div>
    <!-- Circle -->
    <div class="col-sm" id="circle">
      <div class="circle2"> <p>Repeat</p></div>
    </div>


  </div>
  <a href="/contact-us"><button type="button" class="btn btn-danger">Interested/Confused?</button></a>


</div>



    <% include ./partials/footer %>
