<% include ./partials/header %>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Operations.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<div class="container">

  <!-- First Row -->
  <div class="row">
    <!-- Col -->
    <div class="col-sm">
      <img id="operationLogo" src="/Assets/Operations Logo 4T-2.png">
    </div>
    <!-- Col -->
    <div class="col-sm">
      <h1 class="display-4" >This is<b><br>OPERATIONS</b></h1>
    </div>

  </div>

  <!-- Second Row -->
  <div class="row">
    <!-- Col -->
    <div class="col-sm">
      <h1>The Team</h1>
      <p >Ykailah Nuñez (Leader)</p>
    </div>
    <!-- Col -->
    <div class="col-sm">
      <img id="leaderImage" src="/Assets/WhatsApp Image 2018-02-19 at 10.35.26 PM.jpeg">
    </div>
  </div>

  <!-- Description -->
  <h1> What we do?</h1>
  <h1> When it comes to working with us, we:</h1>

      <!-- Circulos -->
        <div class="row">

          <div class="col-sm">
            <div class="circle1"><p> Optimize Proyects</p></div>
          </div>

          <div class="col-sm">
            <i class="fas fa-exchange-alt" style="color: white; font-size: 8rem; display: inline-block; padding-top: 70px; width: 100%"></i>
          </div>

          <div class="col-sm">
            <div class="circle1"> <p> Manage Finances</p></div>
          </div>

          <div class="col-sm">
            <i class="fas fa-exchange-alt" style="color: white; font-size: 8rem; display: inline-block; padding-top: 70px; width: 100%"></i>
          </div>

          <div class="col-sm">
            <div class="circle2"> <p>Outreach & Services</p></div>
          </div>

        </div>

        <a href="/contact-us"> <button class="btn btn-danger">Interested/Confused?</button></a>


  </div>


    <% include ./partials/footer %>
