<% include ./partials/header %>

<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/rd.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>


<div class="container">

  <!-- Header -->
  <div class="row">

    <div class="col-sm">
      <img id='rdLogo'src="/Assets/Recruitment and developement2T.png">
    </div>

    <div class="col-sm">
      <h1 class="display-4" >This is<b><br>RECRUITMENT & DEVELOPMENT</b></h1>
    </div>

  </div>

  <!-- Team -->
  <div class="row">
    <div class="col-sm">
      <h1>The Team</h1>
      <p>Ixchelle Hernandez (Leader)</p>
    </div>

    <div class="col-sm">
      <img id='teamLeader' src="/Assets/WhatsApp Image 2018-02-19 at 10.35.29 PM.jpeg">
    </div>
  </div>

  <!-- Description -->
  <h1> What we do?</h1>
  <h1> How working with us looks like:</h1>
  <!-- Circles -->
  <div class="row">
    <div class="col-sm">
      <div class="circle1"><p> Talent Acquisition</p></div>
    </div>

    <div class="col-sm">
      <i class="fa fa-chevron-right" style="color: white; font-size: 9rem; display: inline-block; padding-top: 80px; margin-top: -15%"></i>
    </div>

    <div class="col-sm">
      <div class="circle1"> <p> Training</p></div>
    </div>

    <div class="col-sm">
      <i class="fa fa-chevron-right" style="color: white; font-size: 9rem; display: inline-block; padding-top: 80px; margin-top: -15%"></i>
    </div>

    <div class="col-sm">
      <div class="circle2"> <p>Empowering</p></div>
    </div>
  </div>

  <a href="/contact-us"><button type="button" class="btn btn-danger">Interested/Confused?</button></a>

</div>





    <% include ./partials/footer %>
