<% include ./partials/header %>
<head>

    <link rel="stylesheet" type="text/css" href="/stylesheets/Services.css">

</head>

<div class="Service1">
    <div class="TitleService1">
            <p>Hello, my name is Ivan</p>
        <div class="InfoService1">
            <p> Hola Mundo!</p>
        </div>
    </div>
</div>



<% include ./partials/footer %>
